*{
  margin: 0;       
  padding: 0;      
  box-sizing: border-box
}

:root{
  --background-color: #e0d8c1;
  --primary-color: #faedcd;
  --secondary-color: #e9edc9;
  --green: rgb(170, 148, 81);
  --brown: #d4a373;
  --font-color:  #030303;
}

body{
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
  color: var(--font-color);
}

.header-container{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: white;
  width: 80vw;
  height: 60px;
  padding: 0 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container .logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;

}

.header-container .logo-container .logo{
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-size: 20px;
}

.header-container .logo-container:hover .logo, .header-container .nav-container .nav-list .nav-item:hover{
  color: var(--brown);
}

.header-container .nav-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.header-container .nav-container .nav-list{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-container .nav-container .nav-list .nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none; 
  color: var(--font-color);
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  color: rgb(250, 250, 250);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.footer p{
  margin-bottom: 0;
}


/* media queries */
@media (min-width: 481px) and (max-width: 767px) {
  .header-container{
    height: 80px;
  }

  .header-container .logo-container .logo{
    font-size: 24px;
  }

  .header-container .nav-container .nav-list .nav-item{
    font-size: 20px;
  }
}

@media (min-width: 767px) {
  .header-container{
    height: 100px;
  }

  .header-container .logo-container .logo{
    font-size: 28px;
  }

  .header-container .nav-container .nav-list .nav-item{
    font-size: 22px;
  }
}

